!!! XHTML
%html{ :xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en"}
  %head
    %meta{ "http-equiv" => "content-type", :content => "text/xhtml" }
    %link{ :rel => "stylesheet", :type => "text/css", :href => "public/style.css"}
    %title
      Index of DIR
  %body
    #content
      %h2 Index of DIR
      
